extends ./layout.jade

block header
  header.header
    .index
      a(href="#{base_url}/") Index
    h1!=title

block title
  title!=title

block style
  link(rel='stylesheet', href="#{base_url}/styles/tomorrow.css")
  link(rel='stylesheet', href="#{base_url}/styles/diary.css")

block content
  .content
    .diary
      !=contents
