extends ./layout/layout.jade

block header
  header.header
    h1=title

block title
  title=title

block style
  link(rel='stylesheet', href="#{base_url}/styles/calendar.css")

block content
  .content
    #calendar(data-last-date=last, data-first-date=first)

block script
  script(src='#{base_url}/scripts/vendor.bundle.js')
  script(src='#{base_url}/scripts/index.js')